html, body, #root {
  height: 100%;
  font-size: 14px;
  background-color: #f3f6f9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

::-webkit-scrollbar {
  width:6px;
  height: 10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius:6px;
  background:rgba(0,0,0,0.3);
}

.fz-13{
  font-size: 13px;
}

.fz-12{
  font-size: 12px;
}

.fz-gray{
  color: #999;
}

.img-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6f6f6;
}

.no-bg {
  background-color: transparent;
}
  
.inline-flex{
  display: inline-flex;
  vertical-align: middle;
}

.flex-column{
  flex-direction: column;
}

  // 水平居中
.h-center{
  display: flex;
  justify-content: center;
}
// 垂直居中
.v-center{
  display: flex;
  align-items: center;
}

.flexbox{
  display: flex;
}
  
.flex1{
  flex: 1;
}
  
.gray_bg{
  background-color: #f0f0f0;
}

.reset-p{
  line-height: 1.2;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 2px;
  color: #767e90;
}
  
.font-weight{
  font-weight: 500;
}
  
.wlps {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wlps2 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: box;
  line-clamp: 2;
  box-orient: vertical;
}

.wlps3 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: box;
  line-clamp: 3;
  box-orient: vertical;
}

  